#logodebosta{
    width: 20%; 
    float: left;
    margin-left: 10px;
}
ul {
    font-style:italic; 
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 34%;
    color: #131a02;
}
header{
    background-color: rgba(168, 155, 137, 0.9);
    margin-bottom: 15px;
  }
  body {
    font-family: cursive;
    font-size: 25px; 
    background-image: url(2505.png);
    background-size: cover;
    float:left
}